# Ignore a specific file
secret_config.json

# Ignore a specific folder (and everything inside it)
node_modules/
/netlify/

# Ignore all files with a specific extension (e.g., log files or compiled binaries)
*.log
*.exe

# Ignore environment variables / secrets
.env